.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.bg-1 {
	background-image: url(https://cdn.shopify.com/s/files/1/0195/5145/3248/files/slider-1_2000x.jpg?v=1572581662);
}
.bg-2 {
	background-image: url(https://cdn.shopify.com/s/files/1/0195/5145/3248/files/slider-2_bd13fd4a-b427-4949-8025-288b3a744835_2000x.jpg?v=1572581683);
}
.bg-3 {
	background-image: url(https://cdn.shopify.com/s/files/1/0195/5145/3248/files/slider-3-1_2000x.jpg?v=1572863329);
}
.bg-1, .bg-2, .bg-3 {
	-webkit-background-size: cover;
	background-size: cover;
}
.carousel-caption {
	bottom: 220px;
	z-index: 2;
}
.carousel-caption h5 {
	font-size: 85px;
	text-transform: capitalize;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: 'Moon Dance', cursive;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.carousel-caption a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 20px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
	border-radius: 5px;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1;
}
.carousel-indicators {
	bottom: 65px;
}
.carousel-indicators button {
	width: 100px !important;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-nav {
		text-align: center;
	}
	.navbar-collapse {
		background: #fff;
	}
	.navbar-collapse .nav-item .nav-link {
		color: #000;
	}
	.carousel-caption {
		bottom: 350px;
	}
	.carousel-caption h5 {
		font-size: 65px;
	}
	.carousel-caption p {
		font-size: 18px;
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.navbar-collapse .nav-item .nav-link {
		color: #000;
	}
	.carousel-caption {
		bottom: 165px;
	}
	.carousel-caption h5 {
		font-size: 25px;
	}
	.carousel-caption p {
		font-size: 12px;
		width: 100%;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.navbar-collapse {
		background: #fff;
	}
}
.carousel_btn{
    margin-left: -120px;
}
.slide_img{
    box-sizing: border-box;

    position: absolute;
    width: 63.24px;
    height: 63.24px;
    left: 115.26px;
    top: 509.88px;
    
    /* background: url(ff.jpg); */
    /* base/white */
    
    border: 2.38631px solid #FFFFFF;
}














/* .carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.colec{
    display: block;
    margin-right:154px;
}
.colec2{
    display: block;
    color: #f10a95;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}
.colec3{
    display: block;
    color: #d26f2c;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}
.colec-three{
    display: block;
    color: #d26f2c;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.beauti-title{
    font-size:45px;
    font-weight: 700;
}

.para1{
    color: black;
    margin-right:257px;
    font-weight:50;
}
.para2{
    color: black;
    margin-right:287px;
    font-weight:50;
}
.para-two{
    color: black;
    margin-right:-585px;
    font-weight:50;
}
.para3{
    color: black;
    margin-right:-396px;
    font-weight:50;
}
.para4{
    color: black;
    margin-right:-630px;
    font-weight:400;
}
.para5{
    color: black;
    margin-right:-580px;
    font-weight:50;
}



.btn btn-1{
    margin-right:300px;
}
.carousel-item::before{
    content: "";
    display: block;
    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:white;
    opacity: 0.1;
}

.carousel-caption{
    bottom:300px;
  
    padding-right: 550px;
}


.style-image{
   margin-bottom: 280px;
    padding-left: 160px;
}

.span1{
    display:block;
}
.span3{
    display:block;
    margin-left:210px;
}
.span2{
    margin-left:210px;
}

@media only screen and (max-width:576px) {
   
    .para1, .beauti-title, .para2 {
     font-size:180px;
     margin-left: 190px;
     
    }
    .carousel-caption{
        margin-left:-390px;
        
    }

  } */