.car_one{
    width:230px;
    height: 230px;
    justify-content: center;
    align-items: center;
}
.card_bg{
    background-color:#EBD09B;
}
.icon_one{
    color: #B0BABF;
    margin-left: 300px;
    
}
.head_one{
    margin-right: 300px;
}